body{
    background-color: #333;
    background-image: url('/images/bg3.jpg');
    background-size: stretch;
    box-sizing: border-box;
}

th, td{
    width: 20%;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 0.5em;
}

table tr:last-child td:last-child{
    border-bottom-right-radius: 0.5em;

}
.tdInputs{
    width:auto;
}

.userInputs{
    margin: 3em auto;
}

.completedTask{
    background-color: rgb(0, 68, 0) !important;
    color: white;
}

.mainTh th{
    background-color: rgb(18, 44, 59);
    color: white;
    border-top: 0; 
}

.endTdLeft{
    border-top-left-radius: 0.5em; 
}

.endTdRight{
    border-top-right-radius: 0.5em;
}

#taskForm{
    text-align: center;
}

#taskTable{
    width: 100%;
}

#headerBox{
    background-color: rgb(18, 44, 59);
    color:white;
}

#mainContent{
    background-color: #cccccc;
    height: auto;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding-bottom: 2px;
}

