body{
    background-color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th, td{
    width: 20%;
}

.tdInputs{
    width:auto;
}

.userInputs{
    margin: 3em auto;
}

.completedTask{
    background-color: green;
    color: white;
}

.mainTh{
    background-color: rgb(5, 0, 32);
    color: white;
}

.endTdLeft{
    border-top-left-radius: 0.5em; 
}

.endTdRight{
    border-top-right-radius: 0.5em;
}

#taskForm{
    text-align: center;
}

#taskTable{
    width: 100%;
}

#headerBox{
    background-color: rgb(5, 0, 32);
    color:white;
}

#mainContent{
    background-color: #cccccc;
    height: 100vh;
}

